@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat',
        sans-serif;
    font-family: 'Poppins',
        sans-serif;


}





/*position right*/

.p-r-0 {
    right: 0;
}

.p-r-1 {
    right: 0.25rem;
}

.p-r-2 {
    right: 0.5rem;
}

/*position top negative*/
.p-t-n-4 {
    top: -1rem;
}
.p-t-n-2 {
    top: -0.5rem;
}
/*height*/
.h-vh-2{
    height: 20vh;
}

/*scroll bar*/
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background: black;
}